node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Environment variables
.env
cypress.env.json

# macOS
.DS_Store

.idea

yarn-error.log

# Coverage reports
coverage

docs

# Cypress artifacts
cypress/screenshots
cypress/videos